@value card-primary-color from '../../Colors.css';

.ProjectsListItem__Card {
  width: 18rem;
  margin: 5px;
  background-color: card-primary-color;
  position: relative;
}

.ProjectsListItem__CardTitle {
  max-height: 30px;
  height: 30px;
  overflow: hidden;
}

.ProjectsListItem__CardText {
  max-height: 100px;
  overflow: hidden;
}

.ProjectsListItem__Button {
  margin-right: 3px
}

.ProjectsListItem__CardBottom{
  right: 0;
  bottom: 0;
  position: absolute;
}

.ProjectsListItem__CardActions {
  padding: 3px;
}
